name: Test Commit


permissions:
  contents: read
on:
  push:
    branches:
    - main
  pull_request:
env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  test:
    name: Test
    strategy:
      matrix:
        #os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        os: ["ubuntu-latest",  "macos-latest"]
        rust: ["stable", "beta"]
        include:
        - os: ubuntu-latest
          rust: "stable"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
      - name: Install Tarpaulin
        run: cargo install cargo-tarpaulin
      - name: Print Cargo Version
        run: cargo -V
      - name: Default features
        run: cargo test --workspace
      - name: All features
        run: cargo test --workspace --all-features
      - name: No-default features
        run: cargo test --workspace --no-default-features
      - name: Test Coverage
        run: cargo tarpaulin #--fail-under 80
  Lint:
    name: Lint
    strategy:
      matrix:
        #os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        include:
        - os: ubuntu-latest
          rust: "stable"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
      - name: Print Cargo Version
        run: cargo -V
      - name: clippy
        run: cargo clippy --verbose -- -D warnings
  Security:
    name: Audit
    strategy:
      matrix:
        #os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        include:
        - os: ubuntu-latest
          rust: "stable"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
      - name: Install cargo-audit, cargo-deny
        run: cargo install cargo-audit cargo-deny
      - name: Print Cargo Version
        run: cargo -V
      - name: Security Check
        run: cargo audit
#  Cargo Deny is a little too hardcore right now for me - need to understand sublicense issues,
#  and unmaintained sub dependencies
#      - name: Dependency Check
#        run: cargo deny check
